The following example shows how the record linkage module can be used to link two files with personal information. First import the Recordlinkage module and the Pandas module. The Recordlinkage module is build on the strong Pandas framework.

In [1]:
import sys
sys.path.insert(1, "..")

import pandas
import recordlinkage

After importing the record linkage and pandas module, it is time to import the datasets. In this case, we use two sample datasets with basic information about persons. Call the dataset dfA and dfB.

In [11]:
dfA = pandas.read_csv('../sampledata/dataset2.csv', index_col='rec_id')
dfB = pandas.read_csv('../sampledata/dataset1.csv', index_col='rec_id')

The first step is to make record pairs. Each pair contains one record of dataset dfA and one record of dataset dfB. The pairs contain the information of all columns in dfA and dfB.

In [3]:
pairing = recordlinkage.Pairs(dfA, dfB)

pairs = pairing.full()

Each record pair is compared on some attributes both record have in common.

In [9]:
comparing = recordlinkage.Compare(pairs)
comparing.compare(recordlinkage.exact, pairs['surname_A'], pairs['surname_B'], name='surname')
comparing.compare(recordlinkage.exact, pairs['given_name_A'], pairs['given_name_B'], name='given_name')
comparing.compare(recordlinkage.exact, pairs['suburb_A'], pairs['suburb_B'], name='suburb')
comparing.compare(recordlinkage.exact, pairs['date_of_birth_A'], pairs['date_of_birth_B'], name='date_of_birth')
comparing.compare(recordlinkage.exact, pairs['street_number_A'], pairs['street_number_B'], name='street_number')

comparing.comparison_vectors.head()

                           surname  given_name  suburb  date_of_birth  \
index_A      index_B
rec-2778-org rec-223-org         0         NaN       0              0
             rec-122-org         0           0       0              0
             rec-373-org         0           0       0              0
             rec-10-dup-0        0           0       0              0
             rec-227-org         0           0       0              0

                           street_number
index_A      index_B
rec-2778-org rec-223-org               0
             rec-122-org               0
             rec-373-org               0
             rec-10-dup-0            NaN
             rec-227-org               0

In [21]:
m = {
    'surname': {0:0.1, 1:0.9},
    'given_name': {0:0.1, 1:0.9},
    'suburb': {0:0.1, 1:0.9},
    'date_of_birth': {0:0.1, 1:0.9},
    'street_number': {0:0.1, 1:0.9}
    }

u = {
    'surname': {0:0.9, 1:0.1},
    'given_name': {0:0.9, 1:0.1},
    'suburb': {0:0.9, 1:0.1},
    'date_of_birth': {0:0.9, 1:0.1},
    'street_number': {0:0.9, 1:0.1}
    }

p = 0.1

fs = recordlinkage.FellegiSunterClassifier()

fs.ecm(
    comparison_vectors=comparing.comparison_vectors, 
    start_m=m, 
    start_u=u, 
    start_p=p,
    max_iter=20
)

fs.matches(comparing.comparison_vectors, w=10)

,,surname,given_name,suburb,date_of_birth,street_number,count,m,u,weight,p_M,p,lambda,mu
index_A,index_B,,,,,,,,,,,,,
rec-2151-dup-3,rec-172-org,0,0,0,1,1,5,0.121,3.358949e-07,12.794506,0.715494,0.000007,0.993637,3.383640e-07
rec-2151-dup-4,rec-172-org,0,0,0,1,1,5,0.121,3.358949e-07,12.794506,0.715494,0.000007,0.993637,3.383640e-07
rec-2151-dup-2,rec-172-org,0,0,0,1,1,5,0.121,3.358949e-07,12.794506,0.715494,0.000007,0.993637,3.383640e-07
rec-2151-org,rec-172-org,0,0,0,1,1,5,0.121,3.358949e-07,12.794506,0.715494,0.000007,0.993637,3.383640e-07
rec-2151-dup-0,rec-172-org,0,0,0,1,1,5,0.121,3.358949e-07,12.794506,0.715494,0.000007,0.993637,3.383640e-07